/* NOTE: FARE UNA CLASSE CLEARFIX, UNA CLASSE PER GLI INLINE BLOCK.... */

/* RESET */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
/* RESET */

/* clearfix */
    .clearfix {
        content: "";
        display: table;
        clear: both;
    }
/* /clearfix */


/* HEADER */
    header {
        width: 100%;
        height: 80px;
        padding: 25px 25px;
        font-family: 'Open Sans', sans-serif;
        position: fixed;
        background-color: white;
    }

    .header-container {
        width: 100%;
        padding: 5px;
    }

    .header-left {
        max-width: 45%;
        float: left;
    }

    .logo {
        display: inline-block;
        vertical-align: middle;
    }
    
    .nav-left {
        display: inline-block;
    }

    ul, li {
        display: inline-block;
        list-style: none;
        margin: 0 20px;
        font-weight: 600;
    }

    a {
        text-decoration: none;
        color: black;
    }


    .header-right {
        max-width: 45%;
        float: right;
    }

    .nav-right {
        display: inline-block;
        vertical-align: middle;
    }

    .button {
        background-color: #0061ff;
        padding: 8px 20px;
        vertical-align: middle;
        color: white;
    }
/* /HEADER */

/* MAIN */
    main {
        font-family: 'Open Sans', sans-serif;
    }

    .banner {
        width: 100%;
        height: 100vh;
        background-color: #b4d0e7;
    }

    .banner-container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        padding-top: 80px;
    }

    h1 {
        font-size: 70px;
        padding-top: 80px;
        margin-bottom: 25px;
    }

    .banner-box {
        width: 100%;
    }

    .box-text {
        width: 30%;
        float: left;
    }

    .text {
        font-weight: 600;
        margin-bottom: 20px;
        margin-left: 0;
    }

    .banner-box a {
        margin-bottom: 10px;
        display: inline-block;
    }

    h5 {
        font-weight: 600;
        margin-bottom: 40px;
    }

    .fa-arrow-down {
        font-size: 40px;
    }

    .banner-box img {
        width: 60%;
        float: right;
    }
/* /MAIN */

/* FOOTER */
/* /FOOTER */


