/* NOTE: FARE UNA CLASSE CLEARFIX, UNA CLASSE PER GLI INLINE BLOCK.... */
/* TOGLIERE IL BANNER-BOX */

/* RESET */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
/* RESET */

/* clearfix */
    .clearfix {
        content: "";
        display: table;
        clear: both;
    }
/* /clearfix */


/* HEADER */
    header {
        width: 100%;
        padding: 25px 25px;
        font-family: 'Open Sans', sans-serif;
        position: fixed;
        background-color: white;
        z-index: 1;
    }

    .header-container {
        width: 100%;
        padding: 5px;
    }

    .header-left {
        max-width: 45%;
        float: left;
    }

    .logo {
        display: inline-block;
        vertical-align: middle;
    }

    .nav-left {
        display: inline-block;
    }

    ul, li {
        list-style: none;
        font-weight: 600;
    }

    .left-menu, .right-menu, .left-menu li, .right-menu li {
        display: inline-block;
        margin: 0 20px;
    }

    a {
        text-decoration: none;
        color: black;
    }


    .header-right {
        max-width: 45%;
        float: right;
    }

    .nav-right {
        display: inline-block;
        vertical-align: middle;
    }

    .button, .button-contact {
        background-color: #0061ff;
        padding: 8px 20px;
        vertical-align: middle;
        color: white;
    }
/* /HEADER */

/* MAIN */
    main {
        font-family: 'Open Sans', sans-serif;
    }
    /* section-banner */
    .banner {
        width: 100%;
        height: 720px; 
        background-color: #b4d0e7;
    }

    .banner-container {
        width: 80%;
        margin: 0 auto;
        padding-top: 80px;
    }
    

    h1 {
        font-size: 70px;
        padding-top: 80px;
        margin-bottom: 25px;
    }

    .banner-box {
        width: 100%;
    }

    .box-text {
        width: 30%;
        float: left;
    }

    .text {
        font-weight: 600;
        margin-bottom: 20px;
        margin-left: 0;
    }

    .banner-box a {
        margin-bottom: 10px;
        display: inline-block;
    }

    h5 {
        font-weight: 600;
        margin-bottom: 40px;
    }

    .fa-arrow-down {
        font-size: 40px;
    }

    .banner-box img {
        width: 60%;
        float: right;
    }
    /* /section-banner */

    /* section-business */
    .business {
        margin: 100px auto;
        width: 70%;
    }

    .business-container {
        padding-top: 100px;
    }

    .business-top h2 {
        font-size: 40px;
        margin-bottom: 60px;
    }

    input[type=radio] {
        margin-right: 3px;
    }

    form span {
        margin-right: 20px;
        padding: 0;
        font-weight: 600;
    }

    .business-raw {
        width: 100%;
        position: relative;
        margin-top: 50px;
    }

    .colonna {
        width: 100%;
        border: 1px solid #d0d0d3;
        display: inline-block;
    }

    .colonna-raw {
        width: 30%;
    }

    h6 {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        padding: 5px;
        border-bottom: 1px solid #d0d0d3;
    }

    .colonna-raw-2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .colonna-raw-3 {
        float: right;
    }


    .info {
        padding: 25px;
    }

    .info .button {
        text-align: center;
    }

    .info .button, .info .link {
        margin: 50px 0 30px 0;
    }


    .piano {
        font-weight: 700;
        font-size: 25px;
        margin-bottom: 10px;
    }


    .costo {
        margin-bottom: 12px;
    }

    .costo, .ufficio {
        font-weight: 700;
    }


    .mese {
        color: #d0d0d3;
        margin-bottom: 50px;
    }


    .testo {
        font-size: 14px;
    }   

    .n-utenti,  .memoria{
        margin-bottom: 15px;
    }

    .button a {
        color: white;
    }

    .link a {
        text-decoration: underline;
        color: #0061ff;
    }

    .linea {
        border: 0;
        background-color: grey;
        width: 40px;
        height: 1px;
        margin-bottom: 20px;
    }

    .punti {
        font-weight: 700;
    }

    .punti, .punto {
        margin: 15px 0;
    }

    .business-bottom {
        margin-top: 50px;
    }

    .button-contact {
        width: 30%;
        float: right;
        margin: 20px 45px;
        text-align: center;
    }

    .bottom-container {
        width: 75%;
    }

    .info-bottom {
        width: 70%;       
    }

    .ufficio {
        margin-bottom: 25px;
    }

    /* /section-business */

    /* section partner */
    .partner {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 70px;
    }

    .partner-container {
        width: 98%;
    }

    .partner-container img {
        width: 55%;
        vertical-align: text-top;
        float: left;
    }

    .text-partner {
        width: 40%;
        float: right;
        margin: 40px 5px;
    }

    .text-partner h3 {
        display: inline-block;
        font-size: 28px;
    }

    .text-partner p {
        line-height: 1.8;
        margin: 20px 0;
    }

    .text-partner button {
        padding: 10px 18px;
        text-align: center;
        background-color: white;
        border: 1px solid black;
    }

    /* /section partner */

    /* section tools */
    .tools{
        width: 70%;
        margin: auto;
        margin-bottom: 150px;
    }

    .tools h2 {

        font-size: 40px;
        padding-bottom: 30px;
    }

    .strumento {
        width: 33%;
        display: inline-block;
    }

    .strumento img {
        width: 100%;
    }

    .tools-text, .tools-text p {
        padding-right: 15px;
    }

    .tools-text h3 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    
        /* /section tools */

        /* section teams */

        .teams-top {
            width: 70%;
            margin: 50px auto;
        }

        .teams-top h2 {
            font-size: 40px;
            margin-bottom: 40px;
            width: 53%;
        }

        .teams-top a {
            text-decoration: underline;
            color: #0061ff;
            font-weight: 600;
        }

        .teams-bottom {
            width: 100%;
            height: 300px;
            margin-bottom: 20px;
        }

        .column-teams {
            width: 30%;
            height: 100%;        
            float: left;
        }

        .column-teams.column-teams-c {
            width: 40%;
            padding: 50px 50px;
            background-color: #f5f5f5;
        }

        .column-teams-c img {
            width: 25%;
            margin-bottom: 30px;
        }

        .column-teams-c hr {
            height: 1px;
            background-color: lightgrey;
            border: 0;
            width: 10%;
            margin-bottom: 30px;
        }

        .column-teams-c p {
            font-weight: 600;
        }

        .column-teams-c :last-child {
            margin: 30px 0 50px 0;
        }

        .squares {
            width: 50%;
            min-height: 50%; /* funzione della column-teams */
            float: left;
            position: relative;
        }

        .squares img {
            width: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }



/* "funzione per invertire colore bianco\nero */
        #designit {
            filter: invert(100%); 
            -webkit-filter: invert(100%);
        }
/* "funzione per invertire colore bianco\nero */



        .square-left-tl {
            background-color: #a2d39b ;
        }

        .square-left-tr {
            background-color: #61082b ;
        }

        .square-left-bl {
            background-color: #0093ce ;
        }

        .square-left-br {
            background-color: #ff1c1c ;
        }

        .square-right-tl {
            background-color: #d5001f ;
        }

        .square-right-tr {
            background-color: #b4d0e7 ;
        }

        .square-right-bl {
            background-color: #0d2481 ;
        }

        .square-right-br {
            background-color: #ffd830 ;
        }


        /* /section teams */



/* /MAIN */

/* FOOTER */
/* /FOOTER */


